/* включаємо border-box для ВСІХ елементів і псевдоелементів. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Скидаємо стандартні зовнішні (margin) та внутрішні (padding) відступи,
   які браузер додає за замовчуванням */
* {
  margin: 0;
  padding: 0;
}
/* Прибираємо маркери (крапки/цифри) у маркованих і нумерованих списків. */
ul,
ol {
  list-style: none;
}
/* Прибираємо стандартне підкреслення у посилань та робимо їх колір 
   таким же, як у батьківського тексту. */
a {
  text-decoration: none;
  color: inherit;
}
/* Картинки робимо блочними (щоб прибрати зазор 4px знизу) 
   і обмежуємо їхню максимальну ширину (щоб не вилазили за екран). */
img {
  display: block;
  max-width: 100%;
}
/*  примусово успадковуємо шрифт body
input, */
button,
textarea,
select {
  font: inherit;
}
